<!DOCTYPE html>
<html>
<head>
  <title>MLO AboutUs</title>

  <style>
    img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    .content {
            max-width: 500px;
            margin: auto;
            padding: 10px;
            }
  </style>
</head>

<body style="background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&w=1000&q=80');">
    <h2 style="text-align:center;">Master List Organizer</h2>
    <hr>
    <h2 style="text-align:center;">About v0.2</h2>
    
    <p1 style="font-family:courier;text-align:center;"><i> This is simple todo app developed by team GTekSD. Our futur ideas will be add short goals, add monthly planning, add daily tasks and much more. <br></i></p1>
    <p1 style="font-family:courier;text-align:center;"><i> Developed by*** as a mini project</i></p1>

    <p style="text-align:center;"><a href="/home"><button>HOME</button></a></p>   
</body>
</html>
