<!DOCTYPE html>
<html>
<head>
    <title>Master List Organizer</title>

    <style>
      form {text-align: center;}

      img {
          display: block;
          margin-left: auto;
          margin-right: auto;}

    </style>
</head>

<body style="background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&w=1000&q=80');">
    <h2 style="text-align:center;">Master List Organizer <sub>v0.2</sub> </h2>
    <hr>
  
    <img src="https://img.pngio.com/bullets-document-file-list-organizer-report-text-todo-icon-icon-organizer-png-512_512.png" alt="MLO" width="200" height="200">
    
    <h2 style="text-align:center;">WELCOME</h2>

    <form action="/list">
      <label for="user">Username:</label><br>
      <input type="text" id="user" value=" "><br><br>
      <input type="submit" value="Login">
    </form>

    <p style="text-align:center;"><a href="/about"><button>ABOUT</button></a></p>

</body>
</html>